%div.selection_links
  = link_to "List View" , gadgets_path
  \|
  = link_to "Iconic View" , iconic_view_path
  \|
  = link_to 'View My Gadgets', my_gadgets_path
  \|
  = link_to 'Add New Gadget', new_gadget_path